.banner {
    position: relative;
    width: 50%;
    margin: 45% auto 0 auto;
    
    .logo {
        display: block;
        margin: auto;
        
        img {
            display: block;
            margin:50px auto;
            width:100%;
        }
    }
  
  }
  
  .social_btns {
      position: relative;
      margin:0 auto;
      width: 50%;
 
  }