<ion-header class="ion-no-border" collapse="fade">
	<ion-toolbar>
		<ion-title slot="start">Servicio Tecnico</ion-title>
		<ion-buttons slot="end" (click)="closeModal()">
			<ion-button>
				<ion-icon color="dark" name="arrow-back"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<form #form="ngForm" [formGroup]="authForm"
		(ngSubmit)="sendService()">
		<ion-list>
			<ion-item>
				<ion-card style="width: 100%;margin: 10px 5px;">
					<ion-card-header>
						Informacion de servicio: #{{ this.authForm.value.request }}
					</ion-card-header>

					<ion-card-content>
						<ion-button
							href="https://www.google.com/maps/search/?api=1&query={{ data.subclient.direccion }}, {{ data.subclient.comuna }}"
							[disabled]="!data.subclient.direccion && !data.subclient.comuna">
							Abrir en Google Maps
						</ion-button>
					</ion-card-content>
				</ion-card>
			</ion-item>

			<ion-item-divider mode="ios">
				<ion-label style="padding: 10px;">
					Informacion de Sub Clientes:
				</ion-label>
			</ion-item-divider>

			<ion-item-group style="padding: 15px;">
				<ion-item>
					<ion-label>Razon Social:</ion-label>
					<ion-input formControlName="nameSocial" aria-label="username"
						required="true"></ion-input>
				</ion-item>

				<ion-item>
					<ion-label>Nombre de Fantasia: </ion-label>
					<ion-input formControlName="fantasia"
						placeholder="Ingrese Un Nombre De Fantasia"></ion-input>
				</ion-item>

				<ion-item>
					<ion-label>Rut:</ion-label>
					<ion-input formControlName="rut"></ion-input>
				</ion-item>

				<ion-item>
					<ion-label>Direccion:</ion-label>
					<ion-input formControlName="adress"></ion-input>
				</ion-item>

				<ion-item>
					<ion-label>Comuna:</ion-label>
					<ion-input formControlName="comuna"></ion-input>
				</ion-item>

				<ion-item>
					<ion-label>Teléfono: </ion-label>
					<ion-input formControlName="phone"></ion-input>
				</ion-item>
			</ion-item-group>
		</ion-list>

		<ion-list>
			<ion-item-divider mode="ios">
				<ion-label style="padding: 10px;">Nombre de Encargado del local
					:</ion-label>
			</ion-item-divider>

			<ion-item-group style="padding: 15px;">
				<ion-item>
					<ion-textarea placeholder="Ingrese el nombre del encargado"
						formControlName="nameSupervisor"></ion-textarea>
				</ion-item>
				<div class="error-messages">
					<ng-container *ngFor="let error of errorMessages.nameSupervisor">
						<div class="error-message"
							*ngIf="authForm.get('nameSupervisor')?.hasError(error.type) && (authForm.get('nameSupervisor')?.dirty || authForm.get('nameSupervisor')?.touched)">
							{{error.message}}
						</div>
					</ng-container>
				</div>
			</ion-item-group>
		</ion-list>

		<ion-list>
			<ion-item-divider mode="ios">
				<ion-label style="padding: 10px;">Mantenimientos:</ion-label>
			</ion-item-divider>

			<ion-item-group	*ngIf="arrayListPushMachines.length > 0">

				<ng-container *ngFor="let mant of arrayListPushMachines">
				    <ion-item-sliding>

						<ion-item detail="true">
							<ion-label>Mantenimiento: {{ mant.name_machine }}</ion-label>
						</ion-item>
						<ion-item-options slot="end">
							<ion-item-option (click)="editMantenimiento(mant)">
								<ion-icon slot="icon-only" name="create-outline"></ion-icon>
							</ion-item-option>						
						</ion-item-options>

					</ion-item-sliding>

				</ng-container>
			</ion-item-group>

			<ion-card style="width: 100%;margin: 10px 5px;">
				<ion-card-content>
					<ion-button (click)="agregarMantenimiento()">Agregar
						Mantenimiento</ion-button>
				</ion-card-content>
			</ion-card>
		</ion-list>

		<ion-list>
			<!-- Signature -->
			<ion-item-divider mode="ios">
				<ion-label style="padding: 10px;">Firma:</ion-label>
			</ion-item-divider>
			<ion-item>
				<ion-label>
					<span *ngIf="!signatureString">No hay Firma</span>
					<span *ngIf="signatureString">Firma Agregada</span>
				</ion-label>
			</ion-item>

			<ion-button
				class="ion-padding"
				color="primary"
				expand="block"
				(click)="signature()">
				<span *ngIf="!signatureString">Agregar Firma</span>
				<span *ngIf="signatureString">Actualizar Firma</span>
			</ion-button>
		</ion-list>
	</form>
</ion-content>

<ion-footer collapse="fade" class="ion-no-border" style="background-color: #ffffff;">
	<ion-toolbar>
		  <ion-button 
			  type="submit" 
			  size="block" 
			  color="success"
			  (click)="sendService()">
			  Actualizar Servicios
		  </ion-button>
	</ion-toolbar>
  </ion-footer>